.Diary_list {
    max-width: 500px;
    width: 100%;
    margin-top: 24px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px gray solid;

    display: flex;
    flex-direction: column;
    gap: 8px;

}